$green-1: #EEF8ED;
$green-2: #A2D69A;
$green-3: #54AD47;
$green-4: #23481E;

$blue-1: #E8F9FD;
$blue-2: #7DDDF2;
$blue-3: #16BADE;
$blue-4: #094E5D;

$gray-1: #F1F3F4;
$gray-2: #C7CFD1;
$gray-3: #455154;
$gray-4: #171B1C;

// Text colors
$body-color: $gray-4;
$sub-heading-color: $blue-3;
$page-footer-color: #fff;
$link-color: $blue-3;

// Background colors
$page-footer-background: $blue-4;
$card-background: #fff;

// Border colors
$avatar-border-color: $blue-3;
