$red: #e23e57;
$black: #393939;
$gray: #3a3a3a;
$green: #17b978;
$blue: #3d84a8;
$yellow: #ffc93c;
$orange: #f58634;
$purple: #a685e2;
$light-gray: #f7f7fa;
$off-white: #fcfcfc;

// Text colors
$link-color: $blue;
$page-footer-color: $black;
$tag-color: $green;

// Background colors
$page-header-background: $off-white;
$page-footer-background: $off-white;
$byline-background: $blue;
$tag-background: rgba(23, 185, 120, 0.16);
$card-background: $light-gray;

// Border colors
$avatar-border-color: $blue;
$content-head-border-color: $blue;
