.card {
  background-color: $card-background;
  box-shadow: $bs;
  padding: 10px;
  margin-bottom: 0.66rem;

  h2 {
    display: flex;
    align-items: center;
  }

  footer {
    align-items: center;
    font-size: 75%;
  }

  .avatar {
    margin-right: 0.5rem;
  }
}
