.page-footer {
  background: $page-footer-background;
  color: $page-footer-color;
  text-align: center;
  padding: 1.25rem;

  p {
    line-height: 1.53;
    margin: 1.25rem auto;
    max-width: 960px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.footer-nav {
  font-size: 1.7rem;
  line-height: 1;

  a {
    color: $page-footer-color;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
