@import 'helpers/colors';
@import 'helpers/global';

body {
  color: $body-color;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 1.25rem;
}

h1,
h2 {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

#__nuxt {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#__layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.sub-heading {
  color: $sub-heading-color;
  text-transform: uppercase;
}

a {
  color: $link-color;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.reverse {
  flex-flow: row-reverse;
}

.between {
  justify-content: space-between;
}

.accessible-text {
  position: absolute;
  top: -9999rem;
  height: 1px;
  width: 1px;
}

@import 'components/page-header';
@import 'components/page-footer';
@import 'components/hero';
@import 'components/avatar';
@import 'components/blog-header';
@import 'components/byline';
